.information-container {
  background-color: rgb(39, 39, 39);
  color: aliceblue;
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}
.video-player {
  margin-top: 2vh;
}

.category-btn-1 {
  background-color: rgba(255, 255, 255, 0);
  border: 0px;
  color: rgb(0, 153, 255);
  margin: 2vh 1vw;
}
.category-btn-2 {
  background-color: rgba(255, 255, 255, 0);
  border: 0px;
  color: rgb(242, 253, 79);
  margin: 2vh 1vw;
}
.category-btn-3 {
  background-color: rgba(255, 255, 255, 0);
  border: 0px;
  color: rgb(157, 253, 79);
  margin: 2vh 1vw;
}
.category-btn-4 {
  background-color: rgba(255, 255, 255, 0);
  border: 0px;
  color: rgb(253, 44, 90);
  margin: 2vh 1vw;
}

.info-sections {
  width: 97vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.info-card-sections {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.info-card {
  flex: 1 1 25%;
  background-color: rgba(240, 248, 255, 0.733);
  color: rgb(39, 39, 39);
  border-radius: 3px;
  margin: 1vh 1vw;
}
