.App {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0)), to(#000000)), url("../static/advantage-video-productions-OQAZ_unAWsY-unsplash.jpg");
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0), #000000), url("../static/advantage-video-productions-OQAZ_unAWsY-unsplash.jpg");
  background-size: cover;
  background-blend-mode: normal;
  color: aliceblue;
  text-align: center;
  height: 120vh;
}

.main-body {
  height: 95vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.welcome-title {
  margin-top: 10vh;
}

.welcome-description {
  margin-bottom: 5vh;
}

.btn-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.info-btn {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #0099ff;
  color: #0099ff;
  margin: 2vh 1vw;
  border-radius: 4px;
}

.build-btn {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #9dfd4f;
  color: #9dfd4f;
  margin: 2vh 1vw;
  border-radius: 4px;
}

.rec-btn {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #f2fd4f;
  color: #f2fd4f;
  margin: 2vh 1vw;
  border-radius: 4px;
}

.information-container {
  background-color: #333;
  color: aliceblue;
  padding-top: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

.video-player {
  margin-top: 2vh;
}

.category-btn-1 {
  background-color: rgba(255, 255, 255, 0);
  border: 0px;
  color: #0099ff;
  margin: 2vh 1vw;
}

.category-btn-2 {
  background-color: rgba(255, 255, 255, 0);
  border: 0px;
  color: #f2fd4f;
  margin: 2vh 1vw;
}

.category-btn-3 {
  background-color: rgba(255, 255, 255, 0);
  border: 0px;
  color: #9dfd4f;
  margin: 2vh 1vw;
}

.category-btn-4 {
  background-color: rgba(255, 255, 255, 0);
  border: 0px;
  color: #fd2c5a;
  margin: 2vh 1vw;
}

.close-btn {
  background-color: rgba(255, 255, 255, 0);
  border: 0px;
  color: #fd2c5a;
  margin-bottom: 10px;
}

.info-sections {
  width: 97vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.info-card-sections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.info-card {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  background-color: rgba(107, 114, 119, 0.651);
  color: aliceblue;
  border-radius: 3px;
  margin: 1vh 1vw;
}

.answer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 15vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

@-webkit-keyframes slide {
  from {
    margin-left: 50vh;
  }
  to {
    margin-left: 0vw;
  }
}

@keyframes slide {
  from {
    margin-left: 50vh;
  }
  to {
    margin-left: 0vw;
  }
}

@-webkit-keyframes grow {
  from {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  to {
    -webkit-transform: scale(1.5, 1.5);
            transform: scale(1.5, 1.5);
  }
}

@keyframes grow {
  from {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  to {
    -webkit-transform: scale(1.5, 1.5);
            transform: scale(1.5, 1.5);
  }
}

.layout-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em;
  margin-left: 5vw;
  overflow: hidden;
  -webkit-animation: fadein 2s;
          animation: fadein 2s;
}

.cards-container {
  margin-top: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-animation: slide 0.5s;
          animation: slide 0.5s;
  padding-left: 10vw;
}

.layout-card {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  background-color: rgba(240, 248, 255, 0.733);
  color: #272727;
  border-radius: 3px;
  margin: 1vh 1vw;
  min-width: 20vw;
  max-width: 25vw;
  -webkit-transition: scale 1.5s;
  transition: scale 1.5s;
  -webkit-transition: display 1.5s;
  transition: display 1.5s;
}

.layout-card:active {
  -webkit-animation: grow 1.5s;
          animation: grow 1.5s;
}

.layout-hidden {
  display: none;
  max-height: 50vh;
  z-index: 5000;
}

.total-price {
  margin: 2em;
  padding: 2em;
}

.goback-btn {
  font-size: 1.3em;
  font-weight: 600;
  color: #ff2d5a;
  background-color: #39393900;
  border: 2px #ff006a solid;
  border-radius: 4px;
  margin: 2em;
  padding: 0.3em 0.7em;
}
/*# sourceMappingURL=App.css.map */