$main-background: #333;
$light-background: rgb(137, 148, 155);
$light-text: aliceblue;
$transparent: rgba(255, 255, 255, 0);

.App {
  background-image: linear-gradient(
      to bottom right,
      rgba(255, 255, 255, 0),
      #000000
    ),
    url('../static/advantage-video-productions-OQAZ_unAWsY-unsplash.jpg');
  background-size: cover;
  background-blend-mode: normal;
  color: $light-text;
  text-align: center;
  height: 120vh;
}

.main-body {
  height: 95vh;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.welcome-title {
  margin-top: 10vh;
}

.welcome-description {
  margin-bottom: 5vh;
}

.btn-holder {
  display: flex;
  flex-direction: row;
}

.info-btn {
  background-color: $transparent;
  border: 1px solid rgb(0, 153, 255);
  color: rgb(0, 153, 255);
  margin: 2vh 1vw;
  border-radius: 4px;
}

.build-btn {
  background-color: $transparent;
  border: 1px solid rgb(157, 253, 79);
  color: rgb(157, 253, 79);
  margin: 2vh 1vw;
  border-radius: 4px;
}

.rec-btn {
  background-color: $transparent;
  border: 1px solid rgb(242, 253, 79);
  color: rgb(242, 253, 79);
  margin: 2vh 1vw;
  border-radius: 4px;
}

// imformation sections
.information-container {
  background-color: $main-background;
  color: aliceblue;
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}
.video-player {
  margin-top: 2vh;
}

.category-btn-1 {
  background-color: $transparent;
  border: 0px;
  color: rgb(0, 153, 255);
  margin: 2vh 1vw;
}
.category-btn-2 {
  background-color: $transparent;
  border: 0px;
  color: rgb(242, 253, 79);
  margin: 2vh 1vw;
}
.category-btn-3 {
  background-color: $transparent;
  border: 0px;
  color: rgb(157, 253, 79);
  margin: 2vh 1vw;
}
.category-btn-4 {
  background-color: $transparent;
  border: 0px;
  color: rgb(253, 44, 90);
  margin: 2vh 1vw;
}
.close-btn {
  background-color: $transparent;
  border: 0px;
  color: rgb(253, 44, 90);
  margin-bottom: 10px;
}

.info-sections {
  width: 97vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.info-card-sections {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.info-card {
  flex: 1 1 25%;
  background-color: rgba(107, 114, 119, 0.651);
  color: $light-text;
  border-radius: 3px;
  margin: 1vh 1vw;
}

.answer-container {
  display: flex;
  flex-direction: column;
  padding-top: 15vh;
  justify-content: space-around;
}

// order area
@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100;
  }
}

@keyframes slide {
  from {
    margin-left: 50vh;
  }
  to {
    margin-left: 0;
  }
}

@keyframes grow {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.5, 1.5);
  }
}

.layout-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
  overflow: hidden;
  animation: fadein 2s;
}

.cards-container {
  margin-top: 10vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  animation: slide 0.5s;
}

.layout-card {
  flex-basis: 30%;
  background-color: rgba(240, 248, 255, 0.733);
  color: rgb(39, 39, 39);
  border-radius: 3px;
  margin: 1vh 1vw;
  min-width: 20vw;
  max-width: 25vw;
  transition: scale 1.5s;
  transition: display 1.5s;
}

.layout-card:active {
  animation: grow 1.5s;
}

.layout-hidden {
  display: none;
  max-height: 50vh;
  z-index: 5000;
}

.total-price {
  margin: 2em;
  padding: 2em;
}

.goback-btn {
  font-size: 1.3em;
  font-weight: 600;
  color: rgb(255, 45, 90);
  background-color: #39393900;
  border: 2px rgb(255, 0, 106) solid;
  border-radius: 4px;
  margin: 2em;
  padding: 0.3em 0.7em;
}
