$main-background: #333;
$light-background: rgb(137, 148, 155);
$light-text: aliceblue;

.navbar {
  border-bottom: 1px solid aliceblue;
  background-color: rgb(34, 34, 34);
}

.mr-auto {
  margin-left: 1em;
}

.mr-2 {
  margin-right: 1em;
}
